<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Absurdities Media is a digital publishing collective, all the content that's fit to digitize.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Absuridites Media is based on an idea. To catch your attention, and dig our claws into your eyes so you can never look away.
      </p>
    </div>
  </div>
</section>
