<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        our services; Explained
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Consultation:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          We can help you with a number of digital publishing tasks, from putting up a website, to lauching an ad campaign or building a social media presence. We bill hourly for consultation, and we have many side projects local to the Holland, MI and Southwest Florida areas for you to peruse (coming soon).
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Building a Media Empire:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Our goal is to create a massive amount of original content. If you have an idea, but don't know what to do with it. Contact us, if we like what you have to offer maybe you will be a good fit for our cooperative.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Products and Services:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Our members are artists of all varieties from musicians to online sex workers, to traditional artists. If what you've got to share strikes our fancy, we want to collaborate with you. It never got weird enough for us. 
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Fuck you Elon:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          None of us were born with a silver spoon up our ass, but we'll cook a shot in one and send that motherfucker home.
        </p>
      </div>
    </div>
  </div>
</section>
