/* CSS Document */

BODY
	{
	text-align:center;
	}
DIV.centered
	{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	}
DIV.main
	{
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left:auto;
	margin-right:auto;
	width: 750px;	
	}
a.searchedlyriclink
	{
	color:#000000;
	}
a.searchedlyriclink:visited
	{
	color:#333;

	}
a.searchedlyriclink:hover
	{
	color:#3300FF;

	}
a.searchedlyriclink:active
	{
	color:#FF0000;
	}